<%= render 'shared/header', header: 'Opinions', subtitle: 'I think X is Y' %>

<div class="container">
<% @opinion.each do |opinion| %>
  <%= render 'show_opinion', opinion: opinion %>
<% end %>
</div>