<%= render 'shared/header', header: 'Articles', subtitle: 'not news, the stuff you find on medium' %>

<div class="container">
<% @article.each do |article| %>
  <%= render 'show_article', article: article %>
<% end %>
</div>