<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>D<sup>2</sup>y</h1>
      <p>60-second briefs of everything</p>
      <%= link_to "Sign Up", users_register_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>