<div class="container">
  <div class="page-header">
    <h4><%= @event.display %></h4>
  </div>
</div>

  <div class="container", id='container-articles-show'>  
    <%= link_to 'new Brief', new_brief_path(type: 'Event', id: @event.id), class: 'btn btn-success' %>
    
    <hr/>

    <%= render '/briefs/briefs_show', obj: @event, type: 'Event', id: @event.id %>

  </div>