<div class="container" id="container-forms">
  <%= form_for @brief do |f| %>
    <div class='form-group'>
      <%= f.label :body, 'The Brief' %>
      <%= f.text_area :body, rows: 15, class: "form-control" %>
    </div>
    <p id="counter" class="text-right">1400 characters remaining</p>
    <%= f.submit(@brief.new_record? ? 'Create' : 'Update', class: 'btn btn-success') %>
  <% end %>

</div>