<h5>Briefed by <%=brief.user.first_name%>
  <small><%=link_to '(edit)', edit_article_brief_path(@article,brief)%></small>
</h5>
<p class="quiet">on <%=brief.created_at%></p>
<p><%= simple_format(brief.body) %></p>
<hr/>