<nav class="navbar navbar-default navbar-bottom">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <div class="navbar-brand"><span class="glyphicon glyphicon-file"></span></div>
      <% end %>
    </div>
    <div class='nav_item'>
      <p class="navbar-text">Briefs taking more than 60 seconds to read? too slow bro.</p>
    </div>
  </div>
</nav>